asgiref==3.8.1
charset-normalizer==3.4.1
Django==5.2.1
gunicorn==23.0.0
huggingface-hub==0.30.2
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==25.0
PyMySQL==1.1.1
PyYAML==6.0.2
requests==2.32.3
setuptools==78.1.1
sqlparse==0.5.3
tqdm==4.67.1
urllib3==2.4.0
wheel==0.45.1
python-dotenv